@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.theme-inicio{
  --bg-background-primary: #ffffff;
  --bg-background-secondary: #000000;
  --bg-background-ternary: white;
  --text-copy-primary: #008aae;
  --text-copy-secondary: #000000;
}

.theme-blue{
  --bg-background-primary: #008aae;
  --bg-background-secondary: #f23941;
  --bg-background-ternary: white;
  --text-copy-primary: #f23941;
  --text-copy-secondary: #008aae;
}

.theme-reddy{
  --bg-background-primary: #f23941;
  --bg-background-secondary: #fed718;
  --bg-background-ternary: white;
  --text-copy-primary: #fed718;
  --text-copy-secondary: #f23941;
}

.theme-yellowy{
  --bg-background-primary: #fed718;
  --bg-background-secondary: #008aae;
  --bg-background-ternary: white;
  --text-copy-primary: #008aae;
  --text-copy-secondary: #fed718;
}

body, html{
  overflow-x: hidden;
  font-family: 'Montserrat', 'Ubuntu', sans-serif ;
  cursor: url('~assets/img/CURSOR3.png') 24 24, pointer;
}

nav, a, button {
  cursor: url('~assets/img/CURSOR3.png') 24 24, pointer;
}

nav, .desktop-menu, .mobile-menu{
  font-family: 'Montserrat', sans-serif;
}

.letterBig{
  font-family: 'Ubuntu', 'Montserrat', sans-serif;
  @apply absolute font-semibold text-7xl;
}

@screen lg {
  .letterBig {
    @apply text-11xl;
  }
}

.letterSmall{
  @apply absolute font-hairline text-3xl;
}




